<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpacerUnion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpacerUnion.Properties.Settings>
            <setting name="PartWinLocation" serializeAs="String">
                <value>0, 500</value>
            </setting>
            <setting name="VobListWinLocation" serializeAs="String">
                <value>500, 500</value>
            </setting>
            <setting name="InfoWinLocation" serializeAs="String">
                <value>500, 500</value>
            </setting>
            <setting name="TreeWinLocation" serializeAs="String">
                <value>0, 150</value>
            </setting>
            <setting name="PropWinLocation" serializeAs="String">
                <value>500, 150</value>
            </setting>
            <setting name="SoundWinLocation" serializeAs="String">
                <value>500, 150</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjectWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropsWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VobListWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VobListWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
        </SpacerUnion.Properties.Settings>
    </userSettings>
</configuration>