<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpacerUnion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpacerUnion.Properties.Settings>
            <setting name="PartWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="VobListWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="InfoWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="TreeWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="PropWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="SoundWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InfoWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjectWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropsWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VobListWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VobListWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>1200, 620</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowMaxState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeWinSize" serializeAs="String">
                <value>405, 492</value>
            </setting>
            <setting name="PropsWinSize" serializeAs="String">
                <value>346, 529</value>
            </setting>
            <setting name="VobListSize" serializeAs="String">
                <value>323, 373</value>
            </setting>
            <setting name="GrassWinLocation" serializeAs="String">
                <value>0, 300</value>
            </setting>
            <setting name="GrassWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrassWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropWindowFont" serializeAs="String">
                <value>Microsoft Sans Serif; 8pt</value>
            </setting>
            <setting name="MacrosWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MacrosWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacrosWinLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="InfoWinSize" serializeAs="String">
                <value>365, 430</value>
            </setting>
            <setting name="MatFilterWinShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatFilterWinShowNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatFilterWinLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Microsoft Sans Serif; 8pt</value>
            </setting>
            <setting name="IconsUIScale" serializeAs="String">
                <value>1</value>
            </setting>
        </SpacerUnion.Properties.Settings>
    </userSettings>
</configuration>